:root {
  --color-backgroundOverlay-lightMode: rgba(0, 0, 0, 0.3);
  --color-dimmer-lightMode: rgba(0, 0, 0, 0.36);
  --color-beigeDark-lightMode: #F5ECE5;
  --color-beigeLight-lightMode: #F7F2EE;
  --color-ghost-lightMode: #c6c6c6;
  --color-navy-lightMode: #386D99;
  --color-navyHover-lightMode: #164F7D;
  --color-pink-lightMode: #E394A5;
  --color-rust-lightMode: #C15B38;
  --color-winterGreen-lightMode: #47948A;
  --color-yellow-lightMode: #F39E19;
}
